body {
    font-family: 'Nova Square', cursive;
    background: url(../images/annie-spratt-W58TYhki3nU-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.name {
    color: #de1d5a;
}

.aboutIcon {
    color: #de1d5a;
    border-bottom: #de1d5a 6px solid;
}

.widthDiv {
    width: 12 rem;
}

#mePic {
    height: 566px;
}

.meInfo {
    border: #de1d5a solid 2px;
}

.socialIcon {
    color: #de1d5a;
}

.statsList {
    border: solid 1px black;
}

.fill {
    background: #de1d5a;
}

